:root {
  --primary: #8dd3bb;
  /* var(--primary)   */
  --secondary: #112211;
  /* var(--secondary)   */
  --dark: #000000;
  /* var(--dark)   */
  --dark4: #2c353d;
  /* var(--dark4)   */
  --gray: #f7f9fb;
  /* var(--gray)    */
  --white: #fff;
  /* var(--white)    */
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  content-visibility: auto;
}
input {
  border: 0;
}

input:focus {
  outline: none;
}

* {
  font-family: 'Pretendard-Regular';
  letter-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
