:root {
    --primary: #8DD3BB;
    /* var(--primary)   */
    --secodary: #374151;
    /* var(--secodary)   */
    --dark: #333333;
    /* var(--dark100)   */
    --gray: #9ca3af;
    /* var(--gray)    */
    --white: #fff;
    /* var(--white)    */
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

html,
body {
    margin: 0;
}

* {
    font-family: "Pretendard-Regular";
    letter-spacing: 1px;
}