:root {
  --primary: #8dd3bb;
  /* var(--primary) */
  --secondary: #f2fffa;
  /* var(--secondary) */
  --font-main-color: #112211;
  /* var(--font-main-color) */
  --background-color: #f7f9fb;
  /* var(--background-color) */
  --font-input-color: #8d8d8d;
  /* var(--font-input-color) */
  --white: #fff;
  /* var(--white) */
  --font-title-size: 32px;
  --font-input-size: 1rem;
  --font-subtitle-size: 0.8rem;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  border: 0;
}

input:focus {
  outline: none;
}

* {
  font-family: 'Pretendard-Regular';
  letter-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}
